<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Photo-App", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if request.path == root_path %>">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to '#', class: "dropdown-item" do %>
            <%= fa_icon "edit", class: "mr-1" %> Edit Photos
          <% end %>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-3">
      <li class="nav-item navbar-text">
        <%= fa_icon "user", class: "mr-1" %> <a href="#">Name</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
          <%= link_to "Log out", '#', method: :delete, class: "btn btn-sm btn-danger" %>
      </li>
    </ul>
    <ul class="navbar-nav ml-3">
      <%= form_with url: '#', method: :get, class: "form-inline" do %>
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", class: "form-control" %>
        <div class="input-group-append">
          <%= button_tag type: :submit, class: "btn btn-success"  do %>
            <%= fa_icon "search " %>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</nav>